/* Extra small devices (portrait phones, less than 576px)
/* No media query for `xs` since this is the default in Bootstrap

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.viewport:after {
		content: 'SM, 576px and above';
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.viewport:after {
		content: 'MD, 768px and above';
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.viewport:after {
		content: 'LG, 992px and above';
	}

	header .search {
		order: 2;
		max-width: 400px;
	}

	header .account {
		order: 3;
	}

	.table-wrapper {}

	.hamburger {
		display: none;
	}

	.menu {
		display: flex;
	}

	.main-title .subtitle {
		display: none;
	}

	.myx-form .item label {
		width: 30%;
	}

	.myx-form .item .input {
		width: 70%;
		padding-left: 15px;
	}

	.desktop-only {
		display: block;
	}

	.myx-form .item .input {
		margin-top: 0;
	}

	.baggage-status .thumb {
		width: 35%;
		padding-right: 25px;
		opacity: 0.8;
	}

	.baggage-status .journey {
		width: 65%;
		padding-left: 25px;
	}

	.journey .path .text {
		white-space: nowrap;
	}

	.journey .path .text:before {
		content: '';
		border-left: 2px solid #333;
		position: absolute;
		left: -17px;
		top: 15px;
		width: 3px;
		height: 35px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.viewport:after {
		content: 'XL, 1200px and above';
	}
}