/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-default);
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-default);
}

a {
  color: grey;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.container {
  max-width: 640px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #333;
  padding: 70px 15px;
}

.logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 30px;
  text-align: left;
}

.logo img {
  margin-right: 10px;
}

.email {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-family: var(--font-primary);
}

.password {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  font-family: var(--font-primary);
}

.forgotpw {
  width: 100%;
  text-align: left;
  display: block;
  margin-bottom: 20px;
}

.signin {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
  background-color: #666;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font-primary);
}

.register-account {
  text-align: left;
  display: block;
}