html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans', san-serif;
}

img {
	max-width: 100%;
}

body {
	margin: 0;
}

a {
	color: grey;
}

.container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color: #333;
	/* max-width: 1200px; */
}

.container.signin-pg {
	padding: 70px 15px 70px;
	max-width: 640px;
}

.logo {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 30px;
	margin-top: 30px;
	text-align: left;
}

.logo img {
	margin-right: 10px;
}

.email {
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

.password {
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
}

.forgotpw {
	width: 100%;
	text-align: left;
	display: block;
	margin-bottom: 20px;
}

.signin-btn {
	width: 100%;
	padding: 15px;
	margin-bottom: 30px;
	background-color: #666;
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.register-account {
	text-align: left;
	display: block;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 15px;
}

header .logo {
	margin: 0;
	order: 1;
}

header .search {

	width: 100%;
	display: flex;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 15px;
	order: 3;
}

header .search input {
	width: 100%;
	border: 0;
	font-size: 16px;
	font-weight: 500;
}

header .search input:focus {
	outline: none;
}

header .account img {
	height: 30px;
}

header .account {
	display: flex;
	align-items: center;
	order: 2;
}

header .account .text {
	margin-right: 10px;
	font-weight: 500;
}

header .search button {
	background: transparent;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
}

header .search button img {
	height: 22px;
}

.menu {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

.menu .item {
	margin: 0 2%;
	text-decoration: none;
	font-size: 13px;
	max-width: 70px;
	white-space: nowrap;
}

.menu .item .icon {
	width: 70%;
	margin: 0 auto;
	transition: 0.3s;
}

.menu .item .icon:hover {
	opacity: 0.8;
}

.grid {
	max-width: 250px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 50px 0 0 0;
	justify-content: space-between;
}

.grid .item {
	width: 47%;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	padding: 30px;
	text-decoration: none;
	font-size: 13px;
	border-radius: 15px;
}

.grid .item:hover {
	opacity: 0.8;
}

footer {
	color: #fff;
	margin-top: 50px;
	background-color: #333;
	padding: 25px 0 20px 0;
}

footer .logo {
	margin: 0 0 20px 0;
}

footer .copyright {
	font-size: 13px;
}

.table-wrapper {
	width: 100%;
	overflow-x: auto;
	margin: 0 auto;
	display: inline-block;
}

.pTable,
.pSelectTable {
	border-collapse: collapse;
}

.pTable td,
.pTable th,
.pSelectTable td,
.pSelectTable th {
	border: 1px solid #ccc;
	padding: 10px;
	white-space: nowrap;
}

.pTable th,
.pSelectTable th {
	text-align: center;
	background-color: #666;
	color: #fff;
}

.pSelectTable tr:hover {
	transition: all .25s ease-in-out;
	background-color: #ccc;
}

.content {
	padding: 30px 15px 0 15px;
	max-width: 1200px;
	margin: 0 auto;
}

.main-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}

.main-title::after {
	content: '';
	display: block;
	width: 70px;
	border-top: 4px dotted #666;
	text-align: center;
	margin: 10px auto 0 auto;
}

.main-title .subtitle {
	font-size: 15px;
	font-weight: 400;
	padding-top: 5px;
}

.hamburger {
	display: flex;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	justify-content: center;
	font-size: 18px;
	align-items: center;
	font-weight: bold;
}

.hamburger img {
	height: 25px;
	margin-right: 10px;
}

.menu {
	display: none;
}

.mobile-menu.active {
	top: 0;
	transition: top 0.5s;
}

.mobile-menu {
	position: fixed;
	top: -100vh;
	background-color: #333;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 20vh;
	transition: top 0.5s;
	z-index: 99;
}

.mobile-menu .icon,
.mobile-menu .icon img {
	height: 20px;
	margin-right: 5px;
	filter: brightness(0) invert(1);
}

.mobile-menu a {
	display: flex;
	justify-content: center;
	color: #fff;
	text-decoration: none;
	padding: 20px;
}

.mobile-menu .close {
	color: #fff;
	position: absolute;
	top: 30px;
	right: 30px;
}

.add-flight {
	max-width: 600px;
	margin: 0 auto;
	font-size: 16px;
}

.add-flight .item {
	display: flex;
	text-align: left;
	margin-bottom: 20px;
	align-items: center;
}

.add-flight .item .input input,
.add-flight .item .input select {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 16px;
	color: #666;
}

.add-flight .item .input .submit-btn {
	background-color: #333;
	color: #fff;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: auto;
	border-radius: 5px;
	padding: 10px 30px;
}

.add-flight .item {
	flex-wrap: wrap;
}

.add-flight .item label,
.add-flight .item .input {
	width: 100%;
	padding-left: 0;
}

.add-flight .item .input {
	margin-top: 8px;
}

.desktop-only {
	display: none;
}

.indexLogo {
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 30px;
	margin-top: 31px;
	text-align: left;
}

.signin-page-content {
	width: 100%;
	margin:  0 auto;
	background: #192841;
	display: flex;
	/* display: -webkit-flex; */
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}

.register-page-content {
	width: 100%;
	margin:  0 auto;
	background: #192841;
	display: flex;
	/* display: -webkit-flex; */
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}

.form-signin-content  {
	background: #fff;
	width: 670px;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 56px 0;
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-weight: 400;
	position: relative;
	font-size: 18px;
}

.form-register-content  {
	background: #fff;
	width: 670px;
	border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 16px 0;
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-weight: 400;
	position: relative;
	font-size: 18px;
}

.form-signin-content .form-detail {
	padding: 30px 45px 30px 45px;
	position: relative;
}

.form-register-content .form-detail {
	padding: 30px 45px 30px 45px;
	position: relative;
}

.form-detail h2 {
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	position: relative;
	padding: 3px 0 20px;
	margin-bottom: 40px;
}

.form-detail h2::after {
	background: #3786bd;
	width: 50px;
	height: 2px;
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.form-detail .form-row {
	position: relative;
}

.form-detail .form-row-last {
	text-align: center;
}

.form-detail .form-row-link {
	text-align: center;
	color: grey;
}

.form-detail label {
	display: block;
	font-size: 18px;
	padding-bottom: 10px;
}

.form-detail .input-text {
	margin-bottom: 26px;
}

.form-detail input {
	width: 82%;
    padding: 10.5px 50px;
    border: 1px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.form-detail input:focus {
	border: 1px solid #b3b3b3;
}

.form-detail .sign-in {
	font-size: 18px;
	color: #fff;
	background: #3786bd;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 180px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 19px 0 40px;
	cursor: pointer;
}

.form-detail .register {
	font-size: 18px;
	color: #fff;
	background: #3786bd;
	border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 180px;
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 19px 0 40px;
	cursor: pointer;
}

.form-detail .sign-in:hover, .register:hover {
	background: #2f73a3;
}

.form-detail .form-row-last input {
	padding: 14px;
}

.form-detail i {
	font-size: 14px;
	color: #999;
	left: 15px;
	top: 46%;
	transform: translateX(50%);
	position: absolute;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
  font-size: 16px;
}

input::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  font-size: 16px;
}

input:-ms-input-placeholder { /* IE 10+ */
  color: #999;
  font-size: 16px;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #999;
  font-size: 16px;
}

/* Responsive */
/* @media screen and (max-width: 767px) {
	.form-signin-content {
	    margin: 175px 20px;
	}
} */